.root {
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-fill: #f7f6f6;
    /* Eggshell white text color */
    -fx-background-color: #222531;
    /* Background color */
}

.button {
    -fx-text-fill: #f7f9fc;
    /* Eggshell white text */
    -fx-background-color: #d85959;
    /* Optional: darker background */
    -fx-font-weight: bold;
    /* Optional: bold text */
    -fx-border-color: transparent;
    -fx-background-radius: 20;
    -fx-border-radius: 20;

    -fx-effect: dropshadow(gaussian, #914751, 1, 1.0, 0, 10);
}

.button:hover {
    -fx-background-color: #d8696b;
    -fx-cursor: hand;
}

.button:pressed {
    -fx-background-color: #a94d4f;
    -fx-translate-y: 2px;
    /* subtle "press" movement */
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.4), 6, 0.4, 0, 2);
}

.slider {
    -fx-padding: 30;
}

.slider .track {
    -fx-background-color: #323234;
    /* Track background */
    -fx-background-insets: 0;
    -fx-background-radius: 2;
    -fx-pref-height: 4;
}

.slider .thumb {
    -fx-background-color: #e96567;
    /* Eggshell white thumb */
    -fx-background-insets: 0;
    -fx-background-radius: 50%;
    -fx-pref-width: 14;
    -fx-pref-height: 14;
}

.slider .tick-mark {
    -fx-stroke: #aaa;
}

.slider .tick-label {
    -fx-text-fill: #f0e6d2;
    /* Eggshell white tick labels */
    -fx-font-size: 12px;
}