


.button {
    -fx-text-fill: #FCF8F5;
    -fx-background-color: #2B3240;
    -fx-font-weight: bold;
    -fx-border-color: transparent;
    -fx-background-radius: 5;
    -fx-border-radius: 0;

    /* -fx-pref-width: 20px; */
    /* -fx-pref-height: 20px; */
    /* -fx-font-size: 20pt; */
    -fx-padding: 0;
    -fx-effect: dropshadow(gaussian, #1C2029, 1, 1.0, 0, 10);
}

.button:hover {
    -fx-background-color: #363C4A;
    -fx-cursor: hand;
}

.button:pressed {
    -fx-background-color: #252833;
	-fx-translate-y: 2px;
    /* subtle "press" movement */
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.4), 6, 0.4, 0, 2);
}


